﻿
@{
    ViewBag.Title = "ControlUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<WebApplicationVirtualPatient.BLL.Model.User>
<h2>Управление пользователями</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Электронная почта</th>
        <th>Пароль</th>
        <th>Start</th>
        <th>End</th>
        <th>LastLogin</th>
        <th>Администратор</th>
        <th>Бан</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountStartCase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CounEndCase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastLoing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enable)
            </td>

            <td>
                <a href="~/Admin/CheckUser?UserId=@item.Id"> <input type="button" class="button" value="OI"/></a>
            </td>
            <td>
                <a href="~/Admin/CheckAdmin?UserId=@item.Id"> <input type="button" class="button" value="Admin" /></a>
            </td>
        </tr>
    }
</table>

