﻿
@{
    ViewBag.Title = "Управление пациентами";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model List<WebApplicationVirtualPatient.BLL.Model.Patient>
<h2>Управление пациентами</h2>

<table style="margin: 10px 20px">
    <tr>
        <th>ID</th>
        <th>Пол</th>
        <th>Возраст</th>
        <th>Жалоба</th>
        <th>Статус</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Сomplaint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enable)
            </td>
            <td>
                <a class="button" href="~/Admin/ViewCase?idPatient=@Html.DisplayFor(modelItem => item.Id)">
                    Перейти
                </a>
            </td>
        </tr>
        <tr><td><p style="height: 20px"></p></td></tr>

    }
</table>
<br />
<br />
<p>
    @Html.ActionLink("Добавить нового пациента", "NewPatient", "Admin", new {@class = "button"})
</p>
<br />
<br />