﻿
@{
    ViewBag.Title = "TemplatesInvespections";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model List<WebApplicationVirtualPatient.Models.MyModel_InvestigationsGet>
<h2>Управление исследованиями</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Тип исследования</th>
        <th>Имя исследования</th>
        <th>Описание</th>
        <th>Шаблон</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Investigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Investigation.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Investigation.IsTemplate)
            </td>
        </tr>

    }
</table>
<p>
     <a href="~/Admin/NewInvestigation?patientId=0">Добавить новый шаблон</a>
</p>