﻿
@{
    ViewBag.Title = "NamesOfObjectiveInvspections";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model List<WebApplicationVirtualPatient.BLL.Model.NameOfObjectiveInspection>
<h2>Управление системами органов для обьективного осмотра</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Имя</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }
</table>

<h2>Добавление нового имени системы органов для обьективного осмотра</h2>

@using (Html.BeginForm("NamesOfObjectiveInvspections", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary()
    <div>
        <div class="form-group">
            @Html.LabelFor(m => m, "Новое имя", new { @class = "form-title" })
            <div class="col-md-10">
                @Html.TextBox("name", "", new { @class = "form-field" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="button" value="Добавить" />
        </div>
    </div>
}