﻿
@{
    ViewBag.Title = "Новые результаты исследования";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WebApplicationVirtualPatient.Models.MyModel_InvestigationsAdd
<script src="~/Scripts/InputTOImg_JavaScript.js"></script>


        @using (Html.BeginForm("NewInvestigation", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary()

            <div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Investigation.Type, "Тип", new { @class = "form-title" })
                    <div class="col-md-10">
                        <select name="Investigation.Type" class="form-field">
                            <option disabled>Выберите тип исследования</option>


                            @foreach (var item in Model.Types)
                            {
                                <option value="@item.Id">@item.Type</option>
                            }

                        </select>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Investigation.Name, "Имя", new { @class = "form-title" })
                    <div class="col-md-10">
                        <select name="Investigation.Name" class="form-field">
                            <option disabled>Выберите тип исследования</option>

                            @foreach (var item in Model.Names)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }

                        </select>
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(m => m.Investigation.Description, "Описание", new { @class = "form-title" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Investigation.Description, new { @class = "form-field" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Investigation.Image, "Изображение", new { @class = "form-title" })
                    <div class="col-md-10">
                        <img data-type="editable" id="1" class="logo" src="~/Images/System/addImg.png" height="100" width="100" /><br>
                        <input type="file" name="fileUpload" id="imgInput" onchange=" readImage() " data-image-placeholder="1" size="1" class="button_choose_file_b2 button">
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Investigation.IsTemplate, "Добавить в список шаблонов", new { @class = "form-title" })
                <div class="col-md-10">
                    @Html.CheckBoxFor(m => m.Investigation.IsTemplate, new { @class = "form-field", @style = "height: 50px" })
                </div>

            </div>

@*<input type="hidden" value="@ViewData["IdNewPatient"]" name="Investigation.IdPatient" />*@
    @Html.HiddenFor(m => m.Investigation.IdPatient, new { Value = ViewData["IdNewPatient"] })

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="button" value="Добавить нового пациента" />
                </div>
            </div>
        }
   