﻿
@{
    ViewBag.Title = "NewObjectiveInspection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WebApplicationVirtualPatient.Models.MyModel_ObjectiveInspectionsAdd


<h2>Добавление результатов нового обьективного осмотра</h2>

@using (Html.BeginForm("NewObjectiveInspection", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary()
    <h4>Базовые данные:</h4>
    <div>

        <div class="form-group">
            @Html.LabelFor(m => m.ObjectiveInspection.Name, "Система органов:", new { @class = "form-title" })
            <div class="col-md-10">
                <select name="ObjectiveInspection.Name" class="form-field">
                    <option disabled>Выберите тип исследования</option>

                    @foreach (var item in Model.Names)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }

                </select>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ObjectiveInspection.Percussion, "Перкуссия:", new { @class = "form-title" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.ObjectiveInspection.Percussion, new { @class = "form-field" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ObjectiveInspection.Palpation, "Пальпация:", new { @class = "form-title" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.ObjectiveInspection.Palpation, new { @class = "form-field" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ObjectiveInspection.Auscultation, "Аскульптация:", new { @class = "form-title" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.ObjectiveInspection.Auscultation, new { @class = "form-field" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ObjectiveInspection.IsTemplate, "Добавить в список шаблонов", new { @class = "form-title" })
            <div class="col-md-10">
                @Html.CheckBoxFor(m => m.ObjectiveInspection.IsTemplate, new { @class = "form-field" , style="height: 50px;"})
            </div>
            
        </div>
    </div>
<input type="hidden" value="@ViewData["IdNewPatient"]" name="id" />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="button" value="Добавить" />
        </div>
    </div>
}

