﻿
@{
    ViewBag.Title = "NewPatient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WebApplicationVirtualPatient.BLL.Model.Patient

<h2>Добавление нового пациента</h2>

@using (Html.BeginForm("NewPatient", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary()
    <h4>Базовые данные:</h4>
    <div>
        <div class="form-group">
            @Html.LabelFor(m => m.Sex, "Пол", new { @class = "form-title" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Sex, new { @class = "form-field" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Age, "Возраст", new { @class = "form-title" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Age, new { @class = "form-field" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Сomplaint, "Жалоба", new { @class = "form-title" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Сomplaint, new { @class = "form-field" })
            </div>
        </div>
    </div>
    <h4>
        Первичные исследования:
    </h4>
    <div>
        <div class="form-group">
            @Html.LabelFor(m => m.GeneralBloodAnalysis, "Общий анализ крови", new { @class = "form-title" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.GeneralBloodAnalysis, new { @class = "form-field" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.GeneralUrineAnalysis, "Общий анализ мочи", new { @class = "form-title" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.GeneralUrineAnalysis, new { @class = "form-field" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Coprogramm, "Копрограмма", new { @class = "form-title" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Coprogramm, new { @class = "form-field" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.BloodChemistry, "Биохимический анализ крови", new { @class = "form-title" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.BloodChemistry, new { @class = "form-field" })
            </div>
        </div>
    </div>
    <h4>
        Анамнез:
    </h4>
    <div>
        <div class="form-group">
            @Html.LabelFor(m => m.AnamnesisDisease, "Анамнез Болезни", new { @class = "form-title" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.AnamnesisDisease, new { @class = "form-field" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.AnamnesisLife, "Анамнез жизни", new { @class = "form-title" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.AnamnesisLife, new { @class = "form-field" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.AnamnesisFamily, "Анамнез семьи", new { @class = "form-title" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.AnamnesisFamily, new { @class = "form-field" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="button" value="Добавить нового пациента" />
        </div>
    </div>
}

