﻿
@{
    ViewBag.Title = "NewTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model WebApplicationVirtualPatient.BLL.Model.Answer

<script>


    function Start() {
        var elms = "";
        for (var i = 0; i < document.getElementById('qN').value; i++) {
            elms += i+1 +":<br><p>Текст варианта ответа</p><input type=\'text\' name=\'answers[" + i + "].QuestionText\' class=\'form-field\'/>" +
                "<p>Описание</p><input type=\"text\" name=\"answers[" + i + "].Illustration\" class=\"form-field\"/>" +
                "<p>Верный ли ответ</p><input type=\"checkbox\" name=\"answers[" + i + "].IsTrue\" class=\"form-field\" style=\'height: 50px\'/><br/>";
        }

        document.getElementById('innerANS').innerHTML = elms;
    }
</script>

<h2>Добавление нового теста</h2>

@using (Html.BeginForm("NewTest", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary()
    <h4>Базовые данные:</h4>
    <div>
        <div class="form-group">
            @Html.Label("Вопрос", new {@class = "form-title"})
            <div class="col-md-10">
                @*  @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })*@
                <input type="text" name="Question" class="form-field"/>
                <input type="hidden" value="@ViewData["IdNewPatient"]" name="idP"/>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Количество вариантов ответов", new { @class = "form-title" })
            <div class="col-md-10">
                <input type="number" class="form-field"  onchange="Start()" id="qN" />
            </div>
        </div>
        <div id="innerANS">
            
        </div>
        @*for (var i = 0;i<4;i++)
        {
            <br/>
            <p>@i:</p>
            <br/>
            <div class="form-group">
            @Html.LabelFor(m => m.QuestionText, "Текст варианта ответа", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBox("answers[" + i + "].QuestionText", "", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Illustration, "Описание", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBox("answers[" + i + "].Illustration", "", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.IsTrue, "Верный ли ответ", new {@class = "col-md-2 control-label"})
            <div class="col-md-10">
                @Html.CheckBox("answers[" + i + "].IsTrue", false, new { @class = "form-control" })
            </div>
        </div>
}*@



    </div>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="button" value="Добавить" />
        </div>
    </div>
}

