﻿
@{
    ViewBag.Title = "ObjectiveInspections";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model List<WebApplicationVirtualPatient.Models.MyModel_ObjectiveInspectionsGet>
<h2>Управление обьективными осмотрами</h2>

<table>
    <tr>
        <th>ID</th>
        <th>PatientID</th>

        <th>Система органов</th>
        <th>Пальпация</th>
        <th>Перкуссия</th>
        <th>Аскульптация</th>
        <th>Шаблон</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ObjectiveInspections.Id)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.ObjectiveInspections.IdPatient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObjectiveInspections.Palpation)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.ObjectiveInspections.Percussion)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.ObjectiveInspections.Auscultation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObjectiveInspections.IsTemplate)
            </td>
        </tr>

    }
</table>
<p>
    <a href="~/Admin/NewObjectiveInspection?patientId=0">Добавить новый шаблон</a>

</p>