﻿
@{
    ViewBag.Title = "TypesOfInvestigations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model List<WebApplicationVirtualPatient.BLL.Model.TypeOfInvestigations>
<h2>Управление типами исследований</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Тип</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
        </tr>

    }
</table>



<h2>Добавление нового типа исследования</h2>

@using (Html.BeginForm("TypesOfInvestigations", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary()
    <div>
        <div class="form-group">
                @Html.LabelFor(m => m, "Новый тип исследования", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBox("type", "", new { @class = "form-control" })
                </div>
            </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Добавить" />
        </div>
    </div>
}
