﻿@{
    ViewBag.Title = "ViewCase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebApplicationVirtualPatient.BLL.Model.Patient

<h2>Пациент № @Model.Id</h2>

@if (Model.Enable)
{
    <h3 style="color: green">Активный</h3>
}
else
{
    <h3 style="color: red">Неактивный</h3>
}

<div style="width: 800px;">

    <br /><br />Пол:<br/>
    @Html.TextBoxFor(m => m.Sex, Model.Sex, new { @class = "form-field", @readonly = "readonly" })
    <br />  Возраст:<br/><br/>
    @Html.LabelFor(m => m.Age, Model.Age.ToString(), new { @class = "form-field", @readonly = "readonly" })
    <br /><br />   Жалоба:<br/>
    @Html.TextBoxFor(m => m.Сomplaint, Model.Сomplaint, new { @class = "form-field", @readonly = "readonly" })
    <br /><br />   Общий анализ крови<br/><br/>
    @Html.TextBoxFor(m => m.GeneralBloodAnalysis, Model.GeneralBloodAnalysis, new { @class = "form-field", @readonly = "readonly" })
    <br /><br />Общий анализ мочи<br/><br/>
    @Html.TextBoxFor(m => m.GeneralUrineAnalysis, Model.GeneralUrineAnalysis, new { @class = "form-field", @readonly = "readonly" })
    <br /><br />Копрограмма<br/><br/>
    @Html.TextBoxFor(m => m.Coprogramm, Model.Coprogramm, new { @class = "form-field", @readonly = "readonly" })
    <br /><br />Биохимический анализ крови<br/><br/>
    @Html.TextBoxFor(m => m.BloodChemistry, Model.BloodChemistry, new { @class = "form-field", @readonly = "readonly" })
    <br /><br />Анамнез Болезни<br/><br/>
    @Html.TextBoxFor(m => m.AnamnesisDisease, Model.AnamnesisDisease, new { @class = "form-field", @readonly = "readonly" })
    <br /><br />Анамнез жизни<br/><br/>
    @Html.TextBoxFor(m => m.AnamnesisLife, Model.AnamnesisLife, new { @class = "form-field", @readonly = "readonly" })
    <br /><br />Анамнез семьи<br/><br/>
    @Html.TextBoxFor(m => m.AnamnesisFamily, Model.AnamnesisFamily, new { @class = "form-field", @readonly = "readonly" })
    <br /><br />
    
    @if (Model.Question == null)
    {
        <a href="~/Admin/NewTest?patientId=@Model.Id" class="button">Добавить тест первого этапа</a>
    }
    <br /><br /><br />
    <a href="~/Admin/NewInvestigation?patientId=@Model.Id" class="button">Добавить новые результаты исследований</a>
    <br /><br /><br />
    <a href="~/Admin/NewObjectiveInspection?patientId=@Model.Id" class="button">Добавить новые результаты обьективного осмотра</a>
    <br /><br /><br />  
</div>
