﻿@{
    ViewBag.Title = "Личный кабинет";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Данные пользователя</h2>


@using System.Web.Mvc.Html
@model WebApplicationVirtualPatient.BLL.Model.User



<div style="width: 800px; margin: 10px 50px">


    @Html.LabelFor(m => m.Email, "Email", new { @class = "form-title" })
    <br />
    <br />
    @Html.LabelFor(m => m.Email, Model.Email, new { @class = "form-field" })
    <br />
    <br />
    @Html.LabelFor(m => m.FirstName, "Фамилия", new { @class = "form-title" })
    <br />
    <br />
    @Html.LabelFor(m => m.FirstName, Model.FirstName, new { @class = "form-field" })
    <br />
    <br />
    @Html.LabelFor(m => m.SecondName, "Имя", new { @class = "form-title" })
    <br />
    <br />
    @Html.LabelFor(m => m.SecondName, Model.SecondName, new { @class = "form-field" })
    <br />
    <br />
    @Html.LabelFor(m => m.CounEndCase, "Количество вылеченных пациентов", new { @class = "form-title" })
    <br />
    <br />
    @Html.LabelFor(m => m.CounEndCase, Model.CounEndCase.ToString(), new { @class = "form-field" })
    <br />
    <br />
    @Html.LabelFor(m => m.CountStartCase, "Количество взятых пациентов", new { @class = "form-title" })
    <br />
    <br />
    @Html.LabelFor(m => m.CountStartCase, Model.CountStartCase.ToString(), new { @class = "form-field" })
    <br />
    <br />
    @Html.LabelFor(m => m.LastLoing, "Дата и время последнего входа", new { @class = "form-title" })
    <br/>
    <br/>
    @Html.LabelFor(m => m.LastLoing, Model.LastLoing.ToString(), new { @class = "form-field" })
    <br />
    <br />
</div>
