﻿
@{
    ViewBag.Title = "Новый пациент";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Новый пациент</h2>

<a href="~/Home/StartCase"><button class="button">Взять историю болезни</button>
</a>