﻿@{
    ViewBag.Title = "Старт";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using WebApplicationVirtualPatient.Models
@model WebApplicationVirtualPatient.Models.MyModelAddPatient2

<style>
    button {
        width: 160px;
    }

    textarea {
        width: 250px;
        min-height: 100px;
    }
</style>

<script>

    var case1 = '<ul style=\"list-style-type: none\">' +
        '<li><button class=\"btn_controlss\" onclick=\'c1(\"@Model.Patient.AnamnesisLife\") \'>Анамнез жизни</button></li>' +
        '<li><button class=\"btn_controlss\" onclick=\'c1(\"@Model.Patient.AnamnesisDisease\") \'>Анамнез болезни</button></li>' +
        '<li><button class=\"btn_controlss\" onclick=\'c1(\"@Model.Patient.AnamnesisFamily\") \'>Анамнез семьи</button></li></ul>';


    var case2 = "<ul style=\"list-style-type: none\">" +
        "<li><button class=\"btn_controlss\" onclick=\'c1(\"@Model.Patient.GeneralBloodAnalysis\")\'>Общий анализ крови</button></li>" +
        "<li><button class=\"btn_controlss\" onclick=\'c1(\"@Model.Patient.GeneralUrineAnalysis\")\'>Общий анализ мочи</button></li>" +
        "<li><button class=\"btn_controlss\" onclick=\'c1(\"@Model.Patient.Coprogramm\")\'>Копрограмма</button></li>" +
        "<li><button class=\"btn_controlss\" onclick=\'c1(\"@Model.Patient.BloodChemistry\")\'>Биохимический анализ крови</button></li></ul>";


    var case3 = "<ul style=\"list-style-type: none\">";

    @for (var i = 0; i < Model.ObjectiveInspections.Count; i++)
    {
        <text>
    case3 += "<li><center>@Model.ObjectiveInspections[i].Name </center></li>" +
        "<li><button class=\"btn_controlss\" onclick=\'c2(\" @Model.ObjectiveInspections[i].ObjectiveInspections.Percussion \")\'>Перкуссия</button></li>" +
        "<li><button class=\"btn_controlss\" onclick=\'c2(\" @Model.ObjectiveInspections[i].ObjectiveInspections.Palpation  \")\'>Пальпация</button></li>" +
        "<li><button class=\"btn_controlss\" onclick=\'c2(\" @Model.ObjectiveInspections[i].ObjectiveInspections.Auscultation \")\'>Аскульптация</button></li>";
    </text>
    }
    case3 += "</ul>";

</script>

<link rel="stylesheet" type="text/css" href="~/Content/Stages.css">
<link rel="stylesheet" type="text/css" href="~/Content/Stage1.css">

<script src="~/Scripts/Stage1.js"></script>





<div class="tabs">

    <b style="font-size: 18pt; padding:0 20px;">Пациент №@Model.Patient.Id</b>
    
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1" title="Вкладка 1">Этап 1</label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2" title="Вкладка 2">Этап 2</label>

    <input id="tab3" type="radio" name="tabs">
    <label for="tab3" title="Вкладка 3">Этап 3</label>

    <input id="tab4" type="radio" name="tabs">
    <label for="tab4" title="Вкладка 4">Этап 4</label>

    <section id="content1">
        
        <p>


            @*****************************************************************************************
                ***************************   ЭТАП 1   ***************************************************
                *****************************************************************************************@
            <div class="stage1">

                <div class="base1">
                    <p><h4>Входные данные:</h4>
                    </p>

                    <div style="float: left; margin-right: 30px;">
                        <br/>Пол:<br/>
                        <input type="text" class="form-field , sex" value="@Model.Patient.Sex" readonly="readonly"/>
                    </div>

                    <div style="float: right">
                        <br/>Возраст:<br/>
                        <input type="text" class="form-field , age" value="@Model.Patient.Age" readonly="readonly"/>
                    </div>

                    <div style="clear: left">
                        Жалоба/Заметки:<br/>
                        <textarea class="form-field" style="height: 330px;">@Model.Patient.Сomplaint</textarea>
                    </div>

                </div>


                <div class="base2">
                    <div style="">
                        
                        <p><h4>Управление:</h4></p>

                        <div class="result_block_stg1" style="float: left; height: 175px;">
                            <ul style="list-style-type: none">
                                <li><button class="btn_controlss" onclick=" document.getElementById('div_for_insert').innerHTML = case1 ">Анамнез</button></li>
                                <li><button class="btn_controlss" onclick=" document.getElementById('div_for_insert').innerHTML = case2 ">Анализы</button></li>
                                <li><button class="btn_controlss" onclick=" document.getElementById('div_for_insert').innerHTML = case3 ">Обьективный осмотр</button></li>
                            </ul>
                        </div>

                        <div class="result_block_stg1" style="float: left; height: 175px;" id="div_for_insert">
                            <ul style="list-style-type: none">
                                <li><button class="btn_controlss" onclick=' c1("@Model.Patient.AnamnesisLife") '>Анамнез жизни</button></li>
                                <li><button class="btn_controlss" onclick=' c1("@Model.Patient.AnamnesisDisease") '>Анамнез болезни</button></li>
                                <li><button class="btn_controlss" onclick=' c1("@Model.Patient.AnamnesisFamily") '>Анамнез семьи</button></li>
                            </ul>
                        </div>

                        <br/>
                    </div>
                    <div style="clear: left;">
                        <h4>Результаты:</h4>
                        <div id="div_for_insert2" class="result_block_stg1" style="width: 700px; height: 200px;">
                            
                            <div id="a_of_d"></div>
                            <div id="a_of_l"></div>
                            <div id="a_of_f"></div>

                            <div id="os"></div>
                            <div id="oak"></div>
                            <div id="bh_blood"></div>
                            <div id="oam"></div>
                            <div id="coprogramm"></div>
                            <div id="oi"></div>


                        </div>
                    </div>
                </div>


                <div class="test1" align="center">
                    <h4>Тестирование:</h4>
                    <b><h5>@Model.Patient.Question</h5></b>

                    @foreach (var ans in Model.Answers)
                    {
                        <input type="radio" name="group1" value="@ans.IsTrue" style="margin: 0px 0px 0px 20px;" onclick="SetVar('@ans.Illustration', '@ans.IsTrue.ToString()') "/>
                        @ans.QuestionText
                    }
                    <br/>
                    <br/>
                    <button class="btn_controlss" onclick=" controlNext() ">Проверить</button>

                </div>
            </div>




        </p>
    </section>
    <section id="content2">

        @********************************************************************************************
        ***************************   ЭТАП 2   ***************************************************
        ******************************************************************************************@
        <p>
            <div style="width: 80%">
                <div id="temp2" class="result_block_stg1" style="width: 80%">Для открытия пройдите этап 1</div>

                <div id="stage2" style="float: inherit; display: block; width: 500px">



                    <div class="base2">
                        <div style="">


                            <div style="height: 45%">
                                <div id="control1" class="result_block_stg1" style="float: left; height: 175px;">
                                    <p>
                                        <h4>Тип исследования:</h4>
                                    </p>

                                </div>
                            </div>
                            <div style="height: 45%">

                                <div id="control2" class="result_block_stg1" style="float: left; height: 175px;" id="div_for_insert">
                                    <p>
                                        <h4>Названия исследования:</h4>
                                    </p>

                                </div>
                            </div>

                            <br/>
                        </div>
                        <div style="clear: left;">
                            <h4>Результаты:</h4>
                            <div id="investigation" class="result_block_stg1" style="width: 700px; height: 200px;">
                               

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p>
    </section>

@********************************************************************************************
    ***************************   ЭТАП 3   ***************************************************
    *****************************************************************************************@


<section id="content3">
    <p>
        <div id="temp3" class="result_block_stg1" style="width: 80%;">Для открытия пройдите этап 2</div>

        <div id="stage3" style="float: inherit; display: block; width: 500px; height: 600px;">



            <div class="base2" style="width: 900px;">
                <div style="">

                    <h4>Тип диагноза:</h4>

                    <select id="selD1" class="form-field" style="width: 80%" onchange=" d1() ">
                        <option disabled>Выберите...</option>

                        @foreach (var item in Model.Diseases)
                        {
                            var c = item.Code.Split(Convert.ToChar("."));
                            if (c.Count() < 2)
                            {
                                <option value="@c[0]">@item.Code @item.Name</option>
                            }
                        }

                    </select>



                    <div>
                        <div id="control31" class="result_block_stg1" style="float: left; height: 380px; width: 300px">
                            <p>
                                <h4>Диагноз:</h4>
                            </p>
                        </div>
                    </div>
                    <div>

                        <div class="result_block_stg1" id="div_for_insert" style="float: left; height: 380px; width: 300px">
                            <p>
                                <h4>Заключительный диагноз:</h4>
                            </p>
                            <ul id="control32" style="list-style-type: none"></ul>

                        </div>
                    </div>




                    <br/>
                </div>
            </div>
   
    <div style="clear: left;"><button class="btn_controlss" onclick="controlNext3()">Подтвердить</button></div>
       
     </div>
    </p>
    

</section>

@********************************************************************************************
    ***************************   ЭТАП 4   ***************************************************
    *****************************************************************************************@


  <section id="content4">
      <p>
          <div id="temp4" class="result_block_stg1" style="width: 80%">Для открытия пройдите этап 3</div>


          <div id="stage4" style="float: inherit; display: block; width: 500px; visibility: hidden; height: 600px;">



              <div class="base2" style="width: 900px;">
                  <div style="">



                      <div>
                          <div class="result_block_stg1" style="float: left; height: 380px; width: 300px">
                              <p>
                                  <h4>Эпикриз:</h4>
                                  <div id="control41"></div>
                              </p>
                          </div>
                      </div>
                      <div>

                          <div class="result_block_stg1" id="" style="float: left; height: 380px; width: 300px">
                              <p>
                                  <h4>Лист назначений:</h4>
                              </p>
                              <ul id="control42" style="list-style-type: none"></ul>

                          </div>
                      </div>




                      <br/>
                  </div>
              </div>
      <div style="clear: left;"> <button class="btn_controlss" onclick="controlNext4()">Завершить лечение</button></div>

          </div>

      </p>

</section>
</div>


<style>
    #stage2,#stage3 {
        visibility: hidden;
        height: 10px;
    }
</style>


<script>

    function unique(arr) {
        var result = [];
        nextInput: for (var i = 0; i < arr.length; i++) {
            var str = arr[i]; // для каждого элемента
            for (var j = 0; j < result.length; j++) { // ищем, был ли он уже?
                if (result[j] == str)
                    continue nextInput; // если да, то следующий
            }
            result.push(str);
        }
        return result;
    }

    ////////////////////////////////////////////////////////////////////////////////////

    ///Массив типов исследований
    var arrT = [];
    @foreach (var item in Model.Investigationses)
    {
        @:arrT.push("@item.Type");
            }
    arrT = unique(arrT);

    //Формирование блока с кнопками
    var invs = "<p><h4>Тип исследования:</h4></p><ul style=\"list-style-type: none\">";
    for (var i = 0; i < arrT.length; i++) {
        if (arrT[i] !== "") {
            invs += "<li><button  class=\"btn_controlss\" onclick=\'i1(\"" + arrT[i] + "\")\'>" + arrT[i] + "</button></li>";
        }
    }
    invs += "</ul>";
    document.getElementById('control1').innerHTML = invs;

    ////////////////////////////////////////////////////////////////////////////////////




    function i1(str) {

        var i2 = "<p><h4>Название исследования:</h4></p><ul style=\"list-style-type: none\">";

        @for (var i = 0; i < Model.Investigationses.Count; i++)
        {
            <text>
        var str2 = "@Model.Investigationses[i].Type";

        if (str == str2) {

            i2 += "<li><button class=\"btn_controlss\" onclick=\'i2(\"@Model.Investigationses[i].Investigation.Description.Replace(Environment.NewLine,"\n\b")\")\'>@Model.Investigationses[i].Name </button></li>";
        }

        </text>
    }
        i2 += "</ul>";

        document.getElementById('control2').innerHTML = i2;
    }

    function i2(data) {
        document.getElementById('investigation').innerHTML = data;
        countfor3++;
        controlNext2();
    }


//ТРЕТИЙ ЭТАП

    var countfor3 = 0;

    function controlNext2() {
        if (countfor3 > 3) {
            document.getElementById("stage3").style.visibility = 'visible';
            document.getElementById("stage3").style.height = '600px';

            document.getElementById("temp3").style.visibility = 'hidden';
            document.getElementById("temp3").style.height = '0px';
        }
    }


    function d1() {

        var str = document.getElementById("selD1").value;
        var i2 = "<p><h4>Диагноз:</h4></p><ul style=\"list-style-type: none\">";

        @for (var i = 0; i < Model.Diseases.Count; i++)
        {
            if (Model.Diseases[i].Code.Split(Convert.ToChar(".")).Count() > 1)
            {
                
            
            <text>
                var str2 = "@Model.Diseases[i].Code.Split(Convert.ToChar("."))[0]";
       
                if (str === str2) {

                    i2 += "<li><button style=\"width:250px;\" class=\"btn_controlss\" onclick=\'d2(\"@Model.Diseases[i].Code @Model.Diseases[i].Name\")\'>@Model.Diseases[i].Code @Model.Diseases[i].Name</button></li>";
                }
            </text>
        }}
        i2 += "</ul>";

        document.getElementById('control31').innerHTML = i2;
    }


    function d2(data) {
        var nd = "<li><button style=\"width:250px;\" class=\"btn_controlss\" onclick=\"style.display='none'\">" + data + "</button></li>";
        document.getElementById('control32').innerHTML += nd;
    }




    //ЧЕТВЕРТЫЙ ЭТАП

    function controlNext3() {
        if (isTrue3()) {
            document.getElementById("stage4").style.visibility = 'visible';
            document.getElementById("stage4").style.height = '600px';

            document.getElementById("temp4").style.visibility = 'hidden';
            document.getElementById("temp4").style.height = '0px';
        }
    }

    function isTrue3() {

        var isave = 0;
        var element = document.getElementById('control32');
        var elements = element.getElementsByClassName('btn_controlss');

        var count = 0;
    
        for (var i = 0; i < elements.length; i++) {

            if (elements[i].style.display !== 'none') {
                isave = i;
                count++;
            }
        }

  
        if (count === 1) {
            alert(" Этап №4 открыт");
            document.getElementById("control41").innerHTML = elements[isave].textContent;
            return true;
            
        } else {
            alert("Этап №3 незавершен \r\n Необходимо оставить только 1 заключительный диагноз ");
            return false;
        }
    }

</script>



