﻿

         * {
             margin: 0;
             padding: 0;
         }

        html, body {
            height: 100%;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 14px;
        }

        .main {
            position: relative;
            min-height: 100%;
            background-image: url(http://localhost:25166/Images/System/fon.jpg);
        }

        .view {
            padding-bottom: 90px;
            background: #ffffff;
            border: solid 1px #7a7a7a;
            padding: 10px;
        }



        .footer {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 80px;
        }


        /************************************************************/

        .button {
            margin: 10px;
            text-decoration: none;
            text-align: center;
            padding: 10px 10px;
            border: solid 1px #7a7a7a;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            font: 14px Arial;
            color: #7a6363;
            background: #ffffff;
            -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
            -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
            box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
        }

        .button:hover {
            margin: 10px;
            padding: 10px 10px;
            border: solid 1px #373838;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            font: 14px Arial;
            color: #424040;
            background-color: #a0a2a3;
            background-image: -moz-linear-gradient(top, #a0a2a3 0%, #abb6ba 100%);
            background-image: -webkit-linear-gradient(top, #a0a2a3 0%, #abb6ba 100%);
            background-image: -o-linear-gradient(top, #a0a2a3 0%, #abb6ba 100%);
            background-image: -ms-linear-gradient(top, #a0a2a3 0%,#abb6ba 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abb6ba', endColorstr='#abb6ba',GradientType=0 );
            background-image: linear-gradient(top, #a0a2a3 0%,#abb6ba 100%);
            -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
            -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
            box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
        }

        .button:active {
            margin: 10px;
            padding: 10px 10px;
            border: solid 1px #000000;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            font: 14px Arial;
            color: #1a1a1a;
            background-color: #757575;
            background-image: -moz-linear-gradient(top, #757575 0%, #c4c4c4 100%);
            background-image: -webkit-linear-gradient(top, #757575 0%, #c4c4c4 100%);
            background-image: -o-linear-gradient(top, #757575 0%, #c4c4c4 100%);
            background-image: -ms-linear-gradient(top, #757575 0%,#c4c4c4 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c4c4', endColorstr='#c4c4c4',GradientType=0 );
            background-image: linear-gradient(top, #757575 0%,#c4c4c4 100%);
            -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
            -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
            box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
        }


        /*ФОРМА*********************************************************************/
        .form-field {
            margin: 10px;
            border: 2px solid #b5b0aa;
            background: #ffffff;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            color: #1a1a1a;
            -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
            -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
            box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
            padding: 8px;
            margin-bottom: 20px;
            width: 280px;
        }

        .form-field:focus {
            border: 2px solid #718bd9;
            background: #fff;
            color: #474447;
        }

        /*ТЕКСТ*/
        .form-title {
            margin: 10px;
            color: #7a7a7a;
            text-shadow: #fdf2e4 0 1px 0;
        }

        /*****************************************************************/

        hr {
            margin-top: 20px;
            margin-bottom: 20px;
            border: 0;
            border-top: 1px solid #eee;
        }

        footer {
            font: 14px Arial;
            color: #7a6363;
            margin: 10px 50px;
        }

        h2 {
            margin: 10px;
        }

        th {
            padding: 5px 10px 5px 0px;
        }


        html {
            height: 100%;
        }

        body {
            height: 100%;
            min-height: 100%;
            position: relative;
        }

        .main {
            padding-bottom: 4em;
        }

        .footer {
            height: 4em;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }