﻿
.result_block_stg1 {
height: 200px; /* высота нашего блока */
width: 200px; /* ширина нашего блока */
background: #fff; /* цвет фона, белый */
border: 1px solid #C1C1C1; /* размер и цвет границы блока */
overflow-x: hidden; /* прокрутка по горизонтали */
overflow-y: scroll; /* прокрутка по вертикали */


    margin: 10px;
            border: 2px solid #b5b0aa;
           
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            color: #1a1a1a;
            -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
            -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
            box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
            padding: 8px;
            margin-bottom: 20px;
}


.stage1 {
    width: 100%;
    min-width: 950px;
}


.base1 {
    float: left;
    margin: 0px 20px 10px 0px;
    border: 1px solid #009933;
    padding: 10px 20px 10px 10px;
    width: 25%;
    height: 500px;

    min-width: 315px;
}

.sex {
    width: 70px;
}

.age {
    width: 25px;
}

.base2 {
    float: left;
    margin: 0px 0px 20px 0px;
    border: 1px solid #009933;
    padding: 10px 10px 10px 10px;
    height: 500px;
    min-width: 600px;
}



.test1 {
    clear: left;
    margin: 0px 0px 0px 0px;
    border: 1px solid #009933;
    padding: 10px;

}


.btn_controlss {
            margin: 10px;
            text-decoration: none;
            text-align: center;
            padding: 5px 10px;
            border: solid 1px #7a7a7a;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            font: 14px Arial;
            color: #7a6363;
            background: #ffffff;
            -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
            -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
            box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
        }

        .btn_controlss:hover {
            margin: 10px;
            padding: 5px 10px;
            border: solid 1px #373838;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            font: 14px Arial;
            color: #424040;
            background-color: #a0a2a3;
            background-image: -moz-linear-gradient(top, #a0a2a3 0%, #abb6ba 100%);
            background-image: -webkit-linear-gradient(top, #a0a2a3 0%, #abb6ba 100%);
            background-image: -o-linear-gradient(top, #a0a2a3 0%, #abb6ba 100%);
            background-image: -ms-linear-gradient(top, #a0a2a3 0%,#abb6ba 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abb6ba', endColorstr='#abb6ba',GradientType=0 );
            background-image: linear-gradient(top, #a0a2a3 0%,#abb6ba 100%);
            -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
            -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
            box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
        }

        .btn_controlss:active {
            margin: 10px;
            padding: 5px 10px;
            border: solid 1px #000000;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            font: 14px Arial;
            color: #1a1a1a;
            background-color: #757575;
            background-image: -moz-linear-gradient(top, #757575 0%, #c4c4c4 100%);
            background-image: -webkit-linear-gradient(top, #757575 0%, #c4c4c4 100%);
            background-image: -o-linear-gradient(top, #757575 0%, #c4c4c4 100%);
            background-image: -ms-linear-gradient(top, #757575 0%,#c4c4c4 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c4c4', endColorstr='#c4c4c4',GradientType=0 );
            background-image: linear-gradient(top, #757575 0%,#c4c4c4 100%);
            -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
            -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
            box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
        }