﻿ /*Базовый контейнер табов */
    .tabs {
        min-width: 320px;
        padding: 0px;
        margin: 0 auto;
        width: 100%;
    }

    /* стили секций с содержанием */
    section {
        display: none;
        padding: 15px;
        background: #fff;
        border: 1px solid #ddd;
    }

    #tab1, #tab2, #tab3, #tab4 {
        display: none;
    }
    /* стили вкладок (табов) */
    .tabs label {
        display: inline-block;
        margin: 0 0 -1px;
        padding: 15px 25px;
        font-weight: 600;
        text-align: center;
        color: #aaa;
        border: 1px solid #ddd;
        background: #f1f1f1;
        border-radius: 3px 3px 0 0;
    }
        /* шрифт-иконки от Font Awesome в формате Unicode */
        .tabs label:before {
            font-family: fontawesome;
            font-weight: normal;
            margin-right: 10px;
        }

        /* изменения стиля заголовков вкладок при наведении */
        .tabs label:hover {
            color: #888;
            cursor: pointer;
        }
    /* стили для активной вкладки */
    .tabs input:checked + label {
        color: #555;
        border: 1px solid #ddd;
        border-top: 1px solid #009933;
        border-bottom: 1px solid #fff;
        background: #fff;
    }
    /* активация секций с помощью переключателя :checked */
    #tab1:checked ~ #content1,
    #tab2:checked ~ #content2,
    #tab3:checked ~ #content3,
    #tab4:checked ~ #content4 {
        display: block;
    }