﻿
@{
    ViewBag.Title = "Главная страница";
}


<div>

    <br/>
    <h2>Добро пожаловать!</h2>

    <div class="navbar-collapse collapse">
        Этот сайт - Описание сайта.
        <br/>
        <br/>
        <ul>
            @if (!(bool) ViewData["isLogin"])
            {
                <a href="~/Default/Login"><button class="button">Вход</button></a>
                <a href="~/Default/Registration"><button class="button">Регистрация</button></a>
            }
            else
            {
                <a href="~/Home/NewPatient"><button class="button">Старт</button></a>
            }
        </ul>
    </div>

</div>
