﻿@model WebApplicationVirtualPatient.BLL.Model.User
@{
    ViewBag.Title = "Авторизация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Вход</h2>

@using (Html.BeginForm("Login", "Default", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Используйте учетную запись для входа.</h4>
    <hr />
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(m => m.Email,"Электронная почта", new { @class = "form-title" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-field" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, "Пароль", new { @class = "form-title" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-field" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>
    <div >

        <input type="submit" value="Войти" class="button"/>
    </div>
    <br/>
    <p>
        @Html.ActionLink("Зарегистрируйтесь", "Registration"), если у вас нет локальной учетной записи.
    </p>
}