﻿
@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WebApplicationVirtualPatient.BLL.Model.User
<h2>Регистрация</h2>


@using (Html.BeginForm("Registration", "Default", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Создайте новую учетную запись.</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName,"Имя", new { @class = "form-title" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-field" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SecondName, "Фамилия", new { @class = "form-title" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.SecondName, new { @class = "form-field" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, "Электронная почта", new { @class = "form-title" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-field" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, "Пароль", new { @class = "form-title" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new {@class = "form-field"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="button" value="Регистрация" />
        </div>
    </div>
}
